/* NavBar.css */

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  display: flex;
  padding: 0px 4%;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  background: rgba(13, 12, 12, 0.6);
}

.logo {
  max-height: 100px;
  height: 75px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/* Text */
.nav-links ul li a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #ac915d; /* Change color on hover */
}

.nav-links ul li a.active {
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
    width: 100%;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }

  .icon {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 1;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links ul.show {
    display: flex;
  }

  .nav-links ul li {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
  }
}

/* New media query to hide the burger icon on larger screens */
@media only screen and (min-width: 769px) {
  .icon {
    display: none; /* Hide the burger icon on larger screens */
  }

  /* .nav-links {
    display: flex !important; 
  } */
}
